head
    title Henry Health
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='apple-mobile-web-app-title' content='Henry Health')
    meta(name='application-name' content='Henry Health')
    meta(name='msapplication-TileColor' content='#2b5797')
    meta(name='theme-color' content='#ffffff')
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js')





template(name='layout')
    .context.example
        +nav
        // .ui.top.attached.demo.menu
        //     a.item
        //         i.sidebar.icon
        //         |     Menu
        #main
            +yield
        +footer
        //- .ui.bottom.attached.basic.segment.pushable
        //-     +sidebar
        //-     .pusher
        //-         #main_area
        //-             .ui.basic.fluid.segment
        //-                 +Template.dynamic template=cloud
        //-                 +Template.dynamic template=sub_nav
        //-                 +Template.dynamic template=sub_sub_nav
        //-                 +Template.dynamic template=main




template(name='not_found')
    .ui.text.container
        .ui.center.aligned.header Not Found


template(name='camera')
    #webcam
    button.snap Take photo
    if image
        img(src='{{image}}')
