template(name='model')
    with current_model
        .ui.stackable.padded.grid
            .four.wide.column
                #add_model_doc.ui.fluid.button
                    i.plus.icon
                    |Add #{label}
            .twelve.wide.column
                h1.ui.center.aligned.header 
                    i.newspaper.grey.icon
                    |#{plural}
                each model_docs
                    +model_segment

template(name='model_segment')
    +Template.dynamic template="#{current_model.slug}_segment"


template(name='model_doc_view')
    +Template.dynamic template="#{current_model.slug}_view"
    
template(name='model_doc_edit')
    +Template.dynamic template="#{current_model.slug}_edit"
