template(name='posts')
    .ui.stackable.padded.grid
        .four.wide.column
            #add_post.ui.compact.basic.fluid.button
                i.plus.icon
                |Add Post
        .twelve.wide.column
            h1.ui.center.aligned.header 
                i.newspaper.grey.icon
                |Posts
            each posts
                +post_segment


template(name='my_posts')
    .ui.fluid.card
        .content
            .ui.header My Docs
            .ui.divided.list
                each my_posts
                    .item 
                        a(href="/post/view/#{_id}") #{title}


template(name='post_segment')
    .ui.segment
        a.image(href="/post/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.ui.center.aligned.header(href="/post/view/#{_id}") #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |!{description}
                a.ui.basic.button(href="/post/view/#{_id}") 
                    |View More
                    i.arrow.right.icon
            .extra
                i.tags.icon
                each tags
                    .ui.compact.label.post_tag(class=tag_class) #{this}
            .extra
                i.red.configure.large.icon
                if published
                    .ui.green.basic.label Published
                else
                    .ui.red.basic.label Unpublished                        
                if featured
                    .ui.green.basic.label Featured
                else
                    .ui.red.basic.label Unfeatured

template(name='post_view')
    with post
        .ui.stackable.padded.grid
            .row
                a.ui.top.left.attached.basic.button(href="/posts")
                    i.arrow.left.icon
                    |Posts
            .centered.row
                h1.ui.center.aligned.header #{title}
                if image_id
                    img.ui.centered.image(src="{{c.url image_id height=500 width=800 background='white' crop='lpad'}}")
            .row
                .ten.wide.column
                    if publish_date
                        h4.ui.header Published #{publish_when}
                    .ui.basic.segment
                        |!{description}
                    if tags
                        .ui.basic.segment
                            each tags
                                .ui.basic.label #{this}
                    +comments
                .five.wide.column
                    +user_card
                    .edit_post.ui.basic.large.button
                        i.edit.icon
                        |Edit
                    .ui.hidden.divider
                        if published
                            .ui.green.basic.label Published
                        else
                            .ui.red.basic.label Unpublished                        
                        if featured
                            .ui.green.basic.label Featured
                        else
                            .ui.red.basic.label Unfeatured
