template(name='register')
    .ui.padded.stackable.grid
        .centered.row
            .twelve.wide.column
                .ui.ordered.two.steps
                    .active.step
                        .content
                            .title Registration
                            .description
                    .step
                        .content
                            .title Questionaire
                            .description
        .centered.row
            .twelve.wide.column
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.fluid.labeled.input(class=login_class)
                    .ui.basic.label 
                        i.user.icon
                        |Username
                    input.username(type='text')
                .ui.fluid.labeled.input(class=login_class)
                    .ui.basic.label 
                        i.lock.icon
                        | Password
                    input.password(type='password' placeholder='password')
                .ui.fluid.labeled.input(class=login_class)
                    .ui.basic.label 
                        i.lock.icon
                        | Password (again)
                    input.password2(type='password' placeholder='password')
                if username
                    if registering
                        .ui.fluid.large.button.enter(title="register #{username}" class=enter_class)
                            i.user.plus.icon
                            |Register '#{username}'
                    else
                        .ui.center.aligned.secondary.segment
                            .ui.small.grey.header Username "#{username}" found
                            a(href='/sign-in') Sign In
                        
                        
                .ui.center.aligned.secondary.segment    
                    |By clicking Register, you agree to our Privacy Policy and Terms of Use
                    .ui.small.header If you already have an account sign in

                //- +atForm state='signUp'
