template(name='type_doc_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row
                .four.wide.column
                    .ui.header(title="type: #{type}")
                        |Edit #{type}
                    +creation_info
                    a.ui.green.big.circular.icon.button(href="/t/#{type}/#{_id}/view")
                        i.big.checkmark.icon
                    #delete_type.ui.red.icon.circular.button
                        i.trash.icon
                            
                .twelve.wide.column
                    //- |#{type}
                    each fields
                        +Template.dynamic template=edit_template 
                        // .ui.header #{key} [#{field}] #{label}


template(name='type_doc_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .sixteen.wide.column
                    .ui.breadcrumb
                        a.section(href="/t/#{current_type.slug}" title=current_type.plural)
                            .ui.compact.small.button
                                |#{current_type.title}
                        .divider
                            i.chevron.right.icon
                        .active.section
                            if icon
                                i.icon(class=icon)
                            if title
                                |#{title}
                            else
                                | View #{type}
            .row
                .four.wide.column
                    // .ui.header
                    //     a.ui.icon.button(href="/t/#{type}" title=plural)
                    //         i.chevron.left.icon
                    //     |View #{type}
                    if can_edit
                        a.ui.big.blue.circular.icon.button(href="/t/#{type}/#{_id}/edit")
                            i.pencil.icon
                    .ui.small.header timestamp tags
                    each _timestamp_tags
                        .ui.label #{this}
                    each type.actions
                        +Template.dynamic template=this data=current_doc
                    // +user_list_toggle key='bookmark_ids' icon='bookmark' label='Bookmark' color='red'
                    +creation_info
                .twelve.wide.column
                    .ui.header
                        each fields
                            if header
                                +Template.dynamic template=view_template 
                        // if icon
                        //     i.icon(class=icon)
                        // |#{title}
                    each fields
                        unless header
                            .item
                                +Template.dynamic template=view_template 
                    div
                    +comments
                    if watson
                        +watson_view
