template(name='admin')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            if is_dev
                +types
            +article_list
            +user_table


template(name='article_list')
    .ui.grey.inline.large.center.aligned.header 
        i.newspaper.icon
        |Article List
    .ui.icon.circular.basic.button.add_article
        i.plus.large.icon
    table.ui.very.basic.table
        tbody
            each articles
                tr
                    td 
                        +text_edit key='title'
                    td 
                        +text_edit key='link'
                    td 
                        .ui.circular.icon.basic.button.delete_article
                            i.remove.icon



template(name='user_table')
    //- a#add_user.ui.button(href='/user/add')
    //-     i.plus.icon
    //-     |Add User
    .ui.grey.inline.large.center.aligned.header 
        i.users.icon
        |Users
    
    table.ui.very.basic.striped.table
        tbody
            each users
                tr
                    td 
                        a.ui.header(href="/user/#{username}/view") #{first_name} #{last_name}
                        .ui.small.inline.header @#{username}
                        each emails
                            |#{address}
                    td 
                        +user_role_toggle role='admin' icon='shield'
                        +user_role_toggle role='therapist' icon='plus square'
                        +user_role_toggle role='client' icon='user'
                    td
                        .ui.circular.basic.button.generate_pdf
                            i.external.icon
                            |PDF
                        a.ui.circular.basic.button(href="/user/#{username}/edit")
                            i.pencil.icon
                            |Edit
                        a.ui.circular.basic.button(href="/user/#{username}")
                            |View
                            i.right.chevron.icon
                        

template(name='user_role_toggle')
    if is_in_role
        .remove_role.ui.hhblue.circular.button 
            i.icon(class=icon)
            |#{role}
    else
        .add_role.ui.basic.circular.button
            i.icon(class=icon)
            |#{role}
