template(name='user_table')
    .ui.container
        //- a#add_user.ui.button(href='/user/add')
        //-     i.plus.icon
        //-     |Add User
        table.ui.sortable.striped.table
            thead
                tr
                    th Image
                    th Profile
                    th Roles
            tbody
                each users
                    tr
                        td 
                            img.ui.tiny.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                        td 
                            .ui.header 
                                |#{name}
                            div 
                                | Username: #{username}
                            each emails
                                |#{address}
                            a(href="/account/profile/edit/#{_id}")
                                |Edit
                        td 
                            +user_role_toggle role='admin'
                            +user_role_toggle role='therapist'
                            +user_role_toggle role='client'
                            +user_role_toggle role='user'
                            

template(name='user_role_toggle')
    if is_in_role
        .remove_role.ui.green.compact.button #{role}
    else
        .add_role.ui.basic.compact.button #{role}
