template(name='nav')
    .ui.borderless.stackable.top.attached.large.menu
        //- a.toggle_sidebar.mobile.only.header.item
        //-     i.sidebar.icon
        //-     | Henry Health
        if currentUser
            a.header.mobile.hidden.item(href='/dashboard' class="{{isActivePath '/dashboard'}}") 
                img.ui.small.image(src="{{c.url 'henry_logo'}}")
        else 
            a.header.mobile.hidden.item(href='/' class="{{isActivePath '/'}}") 
                img.ui.small.image(src="{{c.url 'henry_logo'}}")
        //- a.mobile.hidden.item(href='/users' class="{{isActivePath '/users'}}")
        //-     i.large.grey.users.icon
        //-     |People
        //- a.mobile.hidden.item(href='/posts' class="{{isActivePath '/posts'}}")
        //-     i.large.grey.newspaper.icon
        //-     |Posts
        //- a.mobile.hidden.item(href='/m/article' class="{{isActivePath '/m/article'}}")
        //-     i.newspaper.grey.file.icon
        //-     | Articles
        .mobile.hidden.right.menu
            if is_admin
                a.item(href='/admin' class="{{isActivePath '/admin'}}")
                    i.large.grey.user.shield.icon
                    | Admin
                a.item.delta(href="/s/schema" class="{{isActivePath '/s/schema'}}")
                    i.sitemap.large.icon
                    
                //- a.ui.simple.dropdown.icon.item(href='/user/#{currentUser.username}/notifications' class="{{isActiveRoute regex='user_notifications'}}")
                //-     i.large.grey.alarm.icon
                //-     .menu
                //-         each notifications
                //-             .item #{text}
                //- a.icon.item(href="/user/#{currentUser.username}/messages" class="{{isActiveRoute regex='user_messages'}}")
                //-     i.large.grey.mail.icon
                //- a.mobile.hidden.item(href='/media' class="{{isActivePath '/media'}}")
                //-     i.large.grey.video.icon
                //-     |Media
            if currentUser
                a.item(href="/dashboard" class="{{isActivePath '/dashboard'}}")
                    i.large.grey.dashboard.icon
                    | Dashboard
                a.mobile.hidden.item(href="/user/#{currentUser.username}" class="{{isActivePath '/user/#{currentUser.username}'}}")
                    if currentUser.profile.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.large.grey.user.icon
                    | #{currentUser.username}
                a#logout.ui.mobile.hidden.icon.item(href='#') 
                    i.large.grey.sign.out.alternate.icon
                    //- | Sign Out
            else
                a.ui.mobile.hidden.item(href='/sign-in') 
                    i.large.grey.sign.in.alternate.icon
                    | Sign In
                a.ui.mobile.hidden.item(href='/sign-up') 
                    i.large.grey.user.plus.icon
                    | Register
